%form.form{ role: :form }
  .row
    .form-group.col-xs-12
      %input.form-control#business_name{ type: :text, placeholder: 'Business Name' }
  .row
    .form-group.col-xs-6
      %input.form-control#first_name{ type: :text, placeholder: 'Contact First Name' }
    .form-group.col-xs-6
      %input.form-control#last_name{ type: :text, placeholder: 'Contact Last Name' }
  .row
    .form-group.col-xs-12
      %textarea.form-control#extra{ rows: 5, placeholder: 'Anything else we should know...' }
  .row
    .form-group.col-xs-6
      %button.btn.btn-default{ type: :submit }Send