%nav.navbar.navbar-fixed-top.navbar-center
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.visible-xs{ :href => "#top" }
        %img.img-responsive{ src: "{{ 'icons/reach-hearts-icon.svg' | theme_image_url }}" }
    #navbar-collapse.collapse.navbar-collapse
      .navbar-inner
        %ul.nav.navbar-nav
          %li.hidden-xs
            %a.scrollspyable#nav-logo{ :href => "#top" }
              %img.img-responsive{ src: "{{ 'icons/reach-hearts-icon.svg' | theme_image_url }}" }
          %li
            %a.scrollspyable.active{ :href => "#top" } Home
          %li
            %a.scrollspyable{ :href => "#about-us" } About Us
          %li
            %a.scrollspyable{ :href => "#new-media" } New Media
          %li
            %a.scrollspyable{ :href => "#big-data" } Big Data
          %li
            %a.scrollspyable{ :href => "#contact" } Contact
