%nav.navbar.navbar-fixed-top.navbar-center
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      / %a.navbar-brand{:href => "#"} Brand
    / Collect the nav links, forms, and other content for toggling
    #navbar-collapse.collapse.navbar-collapse
      .navbar-inner
        %ul.nav.navbar-nav{style: 'text-align: center;'}
          %li
            %a{:href => "#top"} Home
          %li
            %a{:href => "#about-us"} About Us
          %li
            %a{:href => "#new-media"} New Media
          %li
            %a{:href => "#big-data"} Big Data
          %li
            %a{:href => "#contact"} Contact
