@import "_variables.scss";
@import "_form.scss";

body {
  font-family: 'Muli', sans-serif;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

h1, h2 {
  color: $blue;
  text-transform: uppercase;
  font-weight: bold;
}

h3, h4, h5, h6 {
  color: $red;
  font-weight: normal;
}

#nav-logo {
  opacity: 0;
  padding: 0;
  display: inline-block;
  img {
    margin-top: -3px;
    height: 65px;
  }
}

.navbar-center {
  text-align: center;
  padding: 30px 0;
  height: $navbar-height;
  background-color: $dark-gray;
  .navbar-inner {
    .nav {
      display: inline-block;
      float: none;
      font-size: 18px;
      font-family: 'Muli', sans-serif;
      a, a:hover, a:visited {
        color: $red;
        background: transparent;
        text-transform: uppercase;
      }
      li {
        padding-right: 40px;
        vertical-align: middle;
        &.active {
          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.accent-background {
  padding-top: $navbar-height;
  background: $accent-background-color;
  height: 100%;
  width: 100%;
}

.hero-area {
  padding-top: $navbar-height;
}

.main-logo-background {
  display: table;
  vertical-align: middle;
}

.main-logo-container {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  img {
    width: 60%;
    max-width: 460px;
  }
}

.section-text {
  h2 {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 23px;
  }
  h3 {
    font-size: 15px;
    margin: 0 0 10px 0;
    padding: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.form-area {
  h2 {
    font-size: 48px;
    color: $red;
  }
  .btn {
    width: 200px;
  }
}

.pinnable-area {
  max-height: auto;
  min-height: auto;
  height: 100%;
  display: table;
}

.pinnable-area-content {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.full-screen {
  height: 100%; /* makes panels the entire window height */
}

.section-image {
  opacity: 0;
}

.section-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: $navbar-height;
}

.jagged-common {
  height: 10vw;
  background-size: 100% 100%;
}

.jagged-bottom-out-left {
  @extend .jagged-common;
  background-image: url('../images/jagged-bottom-out-left.svg');
}

.jagged-top-in-left {
  @extend .jagged-common;
  background-image: url('../images/jagged-top-in-left.svg');
}

.jagged-top-in-right {
  @extend .jagged-common;
  background-image: url('../images/jagged-top-in-right.svg');
}

.jagged-bottom-out-right {
  @extend .jagged-common;
  background-image: url('../images/jagged-bottom-out-right.svg');
}

@media (min-width: 1200px) {
  .container {
    width: 810px;
  }
}

@media(max-width: 991px) {
  .nav {
    li {
      a {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .section-text {
    margin: 0;
    height: auto;
    padding-top: 10vw;
    padding-bottom: 10vw;
  }
}

@media(max-width: 768px) {

  .navbar-collapse {
    background: $dark-gray;
    text-align: left;
    ul li a {
      padding: 20px;
    }
  }

  .navbar-center {
    padding: 0;
    height: 45px;
  }

  .main-container {
    padding-top: 45px;
  }

  .navbar-brand {
    opacity: 1;
    margin: 15px 20px 0 20px;
    padding: 0;
    height: auto;
    img {
      height: 25px;
    }
  }

  .navbar-toggle {
    margin-right: 10px;
    .icon-bar {
      background: white;
    }
  }

  .accent-background {
    height: auto;
    padding: 50px 0;
  }

  .reach-hearts-logo-container {
    height: auto;
  }

  .scene-image {
    opacity: 1;
  }

  .hero-outer, .hero-inner {
    height: auto;
  }

  .hero-contents {
    @media (orientation: portrait) {
      padding-top: 40vw;
    }
    @media (orientation: landscape) {
      padding-top: 20vw;
    }
  }

  .section-image {
    opacity: 1;
  }
}