$dark-gray: #312d2e;
form {
  margin-top: 30px; //Match H2's margin + line height difference
  input.form-control {
    height: 60px;
    font-size: 20px;
  }
  textarea.form-control {
    font-size: 20px;
  }
  button.form-control {
    margin-top: 20px;
    height: 60px;
    background-color: $dark-gray;
    color: white;
    font-size: 20px;
  }
}
