---
title: Home page
slug: index
position: 0
listed: true
published: true
is_layout: false
---
%html
  {% include head %}
  %body{ "data-spy" => "scroll", "data-target" => "#main-navbar" }
    {% include navbar %}
    .main-container
      #top.top-section
        #hero.hero-outer
          .hero-area.accent-background.main-logo-background
            .main-logo-container
              {% capture hero-caption %}{% editable_text "hero-caption", format: "raw", rows: 1, hint: "Image alt tag text (for screen readers)." %}Reach Hearts{% endeditable_text %}{% endcapture %}
              {% capture hero-image %}{% editable_file "hero-image" %}/samples/pages/reach-hearts-logo.svg{% endeditable_file %}{% endcapture %}
              %img.center-block{ src: "{{ hero-image}}", alt: "{{ hero-caption }}" }
              #contact-success.hidden
                %h2.message Thanks for contacting us!
          .jagged-bottom-out-left
      #sections-trigger.full-screen
        {% for section in contents.sections %}
        .pinnable-slide.container{id: "{{ section._slug }}-trigger"}
          .section-text.show-mobile{id: "{{ section._slug }}"}
            .row
              .col-xs-6.col-xs-offset-3.col-sm-6.col-sm-offset-0
                %img.center-block.section-image.img-responsive{ src: "{{ section.image.url }}", alt: 'Reach Hearts - {{ section.title }}' }
              .col-xs-12.col-sm-6
                %h2 {{ section.title }}
                %h3 {{ section.subtitle }}
                {{ section.body }}
        {% endfor %}
        .jagged-top-in-left
        #contact.contact-form-container
          .container.contact-form
            .row
              .col-xs-12.col-md-5
                %h2.contact-form-introduction Let's get in touch
              .col-xs-12.col-md-6.col-md-offset-1
                {% include contact-form %}
        .jagged-bottom-out-left.dark-background
        .dark-background-spacer

  {% include javascripts %}
